* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
   background-color: #FDFBEE;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   color: #2A2A2A ;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    background-color: #57B4BA;
    border: 5px solid #FE4F2D
}

.screen {
    padding: 2rem;
    display: none
}