* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
   background-color: #FFFBE9;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   color: #2A2A2A ;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    background-color: #E3CAA5;
    border: 5px solid #AD8B73;
}

.screen {
    padding: 2rem;
    display: none;
}

.screen.active {
    display: block;
}
h1, h2 {
    color: #2A2A2A;   
    text-align: center;
    text-shadow: 1px 1px 2px #2A2A2A;
    margin-bottom: 1.2rem;
}

p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2A2A2A;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

input, select, button {
    padding: 0.5 rem 1rem;
    border: 2px solid #2A2A2A;
    border-radius: 5px;
    font-size: 1.1rem;
}

input:focus, select:focus {
    outline: none;
    border-color: #FFFBE9;
}

button {
    color:#2A2A2A;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: all 0.3s;

}

button:hover {
    color: #AD8B73;
}

/* Quiz Screen Styles */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #2A2A2A;
}

/* #progress-bar { 
}

#progress { 
} */

#question-container {
    margin-bottom: 1.5rem;
}

#question-text {
    color: #2A2A2A;
}
#options-list {
    list-style:none;
}

/* .option {

}

.option-radio {

}

.option-label {

} */

/* Result Screen Styles */
#results-screen {
    text-align: center;
}

#final-score {
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5rem 0;
}

#performance-message {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
