* {
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
   background-color: #4A818D;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   color: #4A818D ;
   font-size: 1.2rem;
   font-weight: 600;
   
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    background-color: #EDF6E9;
    border: 5px solid #9D7AA4;
}

.screen {
    padding: 2rem;
    display: none;
}

.screen.active {
    display: block;
}

h1, h2 {
    color: #4A818D;   
    text-align: center;
    text-shadow: 1px 1px 2px #2A2A2A;
    margin-bottom: 1.2rem;
}

p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #4A818D;
    font-size: 1.2rem;

}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

input, select, button {
    padding: 0.5rem 1rem;
    border: 2px solid #2A2A2A;
    border-radius: 5px;
    font-size: 1.1rem;
}

input:focus, select:focus {
    outline: none;
    border-color: #FFFBE9;
}

button {
    color:#2A2A2A;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    background-color: #71CAC8;

}

button:hover {
    color: #EDF6E9;
    background-color: #4A818D;
    border: 3px solid #9D7AA4;
}

/* Quiz Screen Styles */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #2A2A2A;
}

#progress-bar {
    height: 10px;
    background-color: #71CAC8;
    border-radius: 5px;
    margin-bottom: 2rem;
    overflow: hidden;
}

#progress {
    height: 100%;
    width: 0%;
    background-color: #9D7AA4;
    transition: width 0.3s;
}

#question-container {
    margin-bottom: 1.5rem;
}

#question-text {
    color: #4A818D;
}
#options-list {
    list-style:none;
}

.option {
    margin-bottom: 0.8rem;
}

.option-radio {
    display: none;
}

.option-label {
    display: block;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    border-left: 4px solid transparent;
}

.option-label:hover {
    background-color: #e9ecef;
    border-left: 4px solid #4A818D;
}

.option-radio:checked + .option-label {
    background-color: #e9ecef;
    color: #2A2A2A;
    border-left: 4px solid #9D7AA4;
}

/* correct and incorrect styles */
.correct {
    background-color: #5ca904 !important ; 
    color: white !important;
    font-weight: 700;
}

.incorrect {
    background-color: #ff2a04 !important ;
    color: white !important;
    font-weight: 700;

}

/* Result Screen Styles */
#results-screen {
    text-align: center;
}

#final-score {
    font-size: 25px;
    font-weight: 600;
    margin: 1.5rem 0;
    
}

#final-percentage {
    font-size: 25px;
    font-weight: 600;
    margin: 1.5rem 0;
    
}

#result-message {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 2rem;
    
}
